@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Linka
@{
    ViewData["Title"] = "Detail linky";
}

<h1>@ViewData["Title"]</h1>

<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.NazevTypuVozidla)</dt>
                <dd class="col-auto p-1">
                    <a asp-controller="Types" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdTypVozidla)">@Html.DisplayFor(_ => Model.NazevTypuVozidla)</a>
                </dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.Cislo)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.Cislo)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.Nazev)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.Nazev)</dd>
            </dl>
            @await Html.PartialAsync("DetailActionButtons", Model.IdLinka)
        </div>
    </div>
</div>