@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCSH2BDAS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" src="~/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dataTables.js"></script>
    <script src="~/js/dataTables.bootstrap5.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="bg-body-tertiary">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="display:grid;grid-template-columns:auto 1fr auto;">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="Logo" width="68" height="32" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Home", "Index") ? "active" : "")" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                        @if ((ViewData["ActingUser"]) != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Home","Plan"),new("Home","Timetable")]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cestující
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Home","Plan") ? "active" : "")" asp-controller="Home" asp-action="Plan">Vyhledat spojení</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Home","Timetable") ? "active" : "")" asp-controller="Home" asp-action="Timetable">Jízdní řády</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Schemes",null) ? "active" : "")" asp-controller="Schemes" asp-action="Index">Schémata terminálů</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown" onmouseover="showPopup(this)" onmouseout="hidePopup(this)">
                                <div class="popover bs-popover-auto fade show" role="tooltip" id="popover152996" style="visibility:hidden; position: absolute; transform: translate(-5rem, 2.5rem);min-width:14rem;width:14rem;max-width:14rem;padding:0.5rem;" data-popper-placement="bottom" inert>Pouze pro registrované uživatele</div>
                                <a class="nav-link dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cestující
                                </a>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasMaintainerRights() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Vehicles",null),new("Garages",null),new("Models",null),new("Brands",null),new("Types",null),new("Maintenance",null), new("VehiclesExpenses",null)]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Údržbář
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Vehicles",null) ? "active" : "")" asp-controller="Vehicles" asp-action="Index">Vozidla</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Garages",null) ? "active" : "")" asp-controller="Garages" asp-action="Index">Garáže</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Models",null) ? "active" : "")" asp-controller="Models" asp-action="Index">Modely</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Brands",null) ? "active" : "")" asp-controller="Brands" asp-action="Index">Značky vozidel</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Types",null) ? "active" : "")" asp-controller="Types" asp-action="Index">Typy vozidel</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Maintenance",null) ? "active" : "")" asp-controller="Maintenance" asp-action="Index">Údržby</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "VehiclesExpenses",null) ? "active" : "")" asp-controller="Statistics" asp-action="VehiclesExpenses">Náklady na vozidla</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasDispatchRights() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Stops",null),new("Connections",null),new("Routes",null),new("Timetables",null),new("Tariff",null),new("Records",null)]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dispečer
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Stops", null) ? "active" : "")" asp-controller="Stops" asp-action="Index">Zastávky</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Connections",null) ? "active" : "")" asp-controller="Connections" asp-action="Index">Spoje</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Routes",null) ? "active" : "")" asp-controller="Routes" asp-action="Index">Linky</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Timetables",null) ? "active" : "")" asp-controller="Timetables" asp-action="Index">Jízdní řády</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Tariff",null) ? "active" : "")" asp-controller="Tariff" asp-action="Index">Tarifní pásma</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Records",null) ? "active" : "")" asp-controller="Records" asp-action="Index">Záznamy tras</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasManagerRights() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Workers",null),new("Users",null),new("Roles",null)]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manažer
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Workers",null) ? "active" : "")" asp-controller="Workers" asp-action="Index">Pracovníci</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users",null) ? "active" : "")" asp-controller="Users" asp-action="Index">Uživatelé</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Roles",null) ? "active" : "")" asp-controller="Roles" asp-action="Index">Uživatelské role</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAdminRights() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Logs",null),new("Statistics","DBObjects")]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrátor
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Logs",null) ? "active" : "")" asp-controller="Logs" asp-action="Index">Logy</a>
                                        <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Statistics","DBObjects") ? "active" : "")" asp-controller="Statistics" asp-action="DBObjects">Databázové objekty</a>

                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (ViewData["ActingUser"] != null)
                        {
                            @if (ViewData["LoggedUser"]?.Equals(ViewData["ActingUser"]) == true)
                            {
                                <li class="nav-item">
                                    <span class="nav-link" inert>Přihlášený uživatel: @ViewData["LoggedUser"]</span>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="nav-link" style="display:flex">
                                        Jednáte za uživatele: @ViewData["ActingUser"]
                                        (<a class="nav-link" style="padding:0;color:orangered;" asp-controller="Users" asp-action="StopActingBehalf">Zrušit</a>)
                                    </span>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout">Odhlásit se</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users","Login") ? "active" : "")" asp-controller="Users" asp-action="Login">Přihlásit se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users","Register") ? "active" : "")" asp-controller="Users" asp-action="Register">Zaregistrovat se</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mw-100 w-auto pt-3 text-nowrap" role="main">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["error"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <p inert>© 2024 Hrubeš & Šimek</p>
    </footer>
    <script>
        $('.table').DataTable({
            responsive: true,
            autoWidth: true,
            language: {
                "decimal": ",",
                "emptyTable": "Nejsou dostupná žádná data",
                "info": "Zobrazuji záznamy _START_ až _END_ z _TOTAL_ celkem",
                "infoEmpty": "Zobrazuji záznamy 0 až 0 z 0 celkem",
                "infoFiltered": "(Vyfiltrováno z _MAX_ záznamů celkem)",
                "infoPostFix": "",
                "thousands": " ",
                "lengthMenu": "Zobrazit na stránku _MENU_",
                "loadingRecords": "Načítání...",
                "processing": "",
                "search": "Vyhledat:",
                "zeroRecords": "Nenašlis se žádné odpovídající záznamy",
                "paginate": {
                    "first": "První",
                    "last": "Poslední",
                    "next": "Další",
                    "previous": "Předchozí"
                },
                "aria": {
                    "orderable": "Seřadit podle tohoto sloupce",
                    "orderableReverse": "Seřadit podle tohoto sloupce sestupně"
                }
            }
        });
    </script>
</body>
</html>