@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCSH2BDAS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="bg-body-tertiary">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="display:grid;grid-template-columns:auto 1fr auto;">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="Logo" width="68" height="32" class="d-inline-block align-text-top">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Home", "Index") ? "active" : "")" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasUserRights() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext, [new("Home","Plan"),new("Home","Timetable")]) ? " active" : "" )" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Spoj
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @(RazorHelper.IsControllerAndAction(ViewContext, "Home", "Plan") ? "active" : "")" asp-controller="Home" asp-action="Plan">Spojení</a></li>
                                    <li><a class="dropdown-item @(RazorHelper.IsControllerAndAction(ViewContext, "Home", "Timetable") ? "active" : "")" asp-controller="Home" asp-action="Timetable">Jízdní řády</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown" onmouseover="showPopup(this)" onmouseout="hidePopup(this)">
                                <div class="popover bs-popover-auto fade show" role="tooltip" id="popover152996" style="visibility:hidden; position: absolute; transform: translate(-5rem, 2.5rem);min-width:14rem;width:14rem;max-width:14rem;padding:0.5rem;" data-popper-placement="bottom" inert>Pouze pro registrované uživatele</div>
                                <a class="nav-link dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Spoj
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @(RazorHelper.IsControllerAndAction(ViewContext, "Home", "Plan") ? "active" : "")" asp-controller="Home" asp-action="Plan">Vyhledat spojení</a></li>
                                    <li><a class="dropdown-item @(RazorHelper.IsControllerAndAction(ViewContext, "Timetable", "Index") ? "active" : "")" asp-controller="Timetable" asp-action="Index">Jízdní řády</a></li>
                                </ul>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasMaintainerRights() == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Vehicles") ? "active" : "")" asp-controller="Vehicles" asp-action="Index">Vozidla</a>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasDispatchRights() == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Stops") ? "active" : "")" asp-controller="Stops" asp-action="Index">Zastávky</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (ViewData["LoggedUser"] != null)
                        {
                            @if (((Uzivatel?)ViewData["LoggedUser"])?.HasAdminRights() == true)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @(RazorHelper.IsControllerAndActionList(ViewContext,[new("Users","Index"),new("Roles","Index"),new("Vehicles","Index"),new("Garages","Index"),new("Models","Index"),new("Brands","Index"),new("Types","Index"),new("Maintenance","Index"),new("Stops","Index"),new("Connections","Index"),new("Timetables","Index"),new("Tariff","Index"),new("Records","Index"),new("Schemes","Index")]) ? "active" : "")" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin Panel
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users","Index") ? "active" : "")" asp-controller="Users" asp-action="Index">Uzivatele</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Roles","Index") ? "active" : "")" asp-controller="Roles" asp-action="Index">Uzivatelské role</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Vehicles","Index") ? "active" : "")" asp-controller="Vehicles" asp-action="Index">Vozidla</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Garages","Index") ? "active" : "")" asp-controller="Garages" asp-action="Index">Garáže</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Models","Index") ? "active" : "")" asp-controller="Models" asp-action="Index">Modely</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Brands","Index") ? "active" : "")" asp-controller="Brands" asp-action="Index">Značky Vozidel</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Types","Index") ? "active" : "")" asp-controller="Types" asp-action="Index">Typy Vozidel</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Maintenance","Index") ? "active" : "")" asp-controller="Maintenance" asp-action="Index">Údržby</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Stops","Index") ? "active" : "")" asp-controller="Stops" asp-action="Index">Zastavky</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Connections","Index") ? "active" : "")" asp-controller="Connections" asp-action="Index">Spoje</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Routes","Index") ? "active" : "")" asp-controller="Routes" asp-action="Index">Linky</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Timetables","Index") ? "active" : "")" asp-controller="Timetables" asp-action="Index">Jízdní řády</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Tariff","Index") ? "active" : "")" asp-controller="Tariff" asp-action="Index">Tarifní pásma</a>
                                            <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Records","Index") ? "active" : "")" asp-controller="Records" asp-action="Index">Záznamy tras</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (ViewData["LoggedUser"]?.Equals(ViewData["ActingUser"]) == true)
                            {
                                <li class="nav-item">
                                    <span class="nav-link">Přihlášený uživatel: @ViewData["LoggedUser"]</span>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="nav-link" style="display:flex">
                                        Jednáte za uživatele: @ViewData["ActingUser"]
                                        (<a class="nav-link" style="padding:0;color:orangered;" asp-controller="Users" asp-action="StopActingBehalf">Zrušit</a>)
                                    </span>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout">Odhlásit se</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users","Login") ? "active" : "")" asp-controller="Users" asp-action="Login">Přihlásit se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(RazorHelper.IsControllerAndAction(ViewContext, "Users","Register") ? "active" : "")" asp-controller="Users" asp-action="Register">Zaregistrovat se</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container pt-3" role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <p>© 2024 Hrubeš & Šimek</p>
    </footer>
</body>
</html>