@using BCSH2BDAS2.Models
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCSH2BDAS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="bg-body-tertiary">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="display:grid;grid-template-columns:auto 1fr auto;">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="Logo" width="68" height="32" class="d-inline-block align-text-top">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && ViewContext.RouteData.Values["action"]?.Equals("Index") == true ? "active" : "")" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAtleastRole(Role.User) == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && (ViewContext.RouteData.Values["action"]?.Equals("Plan") == true || ViewContext.RouteData.Values["action"]?.Equals("Timetable") == true) ? "active" : "")" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Spoj
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && ViewContext.RouteData.Values["action"]?.Equals("Plan") == true ? "active" : "")" asp-controller="Home" asp-action="Plan">Spojení</a></li>
                                    <li><a class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && ViewContext.RouteData.Values["action"]?.Equals("Timetable") == true ? "active" : "")" asp-controller="Home" asp-action="Timetable">Jízdní řády</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown" onmouseover="showPopup(this)" onmouseout="hidePopup(this)">
                                <div class="popover bs-popover-auto fade show" role="tooltip" id="popover152996" style="visibility:hidden; position: absolute; transform: translate(-5rem, 2.5rem);min-width:14rem;width:14rem;max-width:14rem;padding:0.5rem;" data-popper-placement="bottom" inert>Pouze pro registrované uživatele</div>
                                <a class="nav-link dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Spoj
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && ViewContext.RouteData.Values["action"]?.Equals("Plan") == true ? "active" : "")" asp-controller="Home" asp-action="Plan">Spojení</a></li>
                                    <li><a class="dropdown-item @(ViewContext.RouteData.Values["controller"]?.Equals("Home") == true && ViewContext.RouteData.Values["action"]?.Equals("Timetable") == true ? "active" : "")" asp-controller="Home" asp-action="Timetable">Jízdní řády</a></li>
                                </ul>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAtleastRole(Role.Admin) == true || ((Uzivatel?)ViewData["ActingUser"])?.Role == Role.Maintainer)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Vehicles") == true ? "active" : "")" asp-controller="Vehicles" asp-action="Index">Vozidla</a>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAtleastRole(Role.Dispatcher) == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Stops") == true ? "active" : "")" asp-controller="Stops" asp-action="Index">Zastávky</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (ViewData["LoggedUser"] != null)
                        {
                            @if (((Uzivatel?)ViewData["LoggedUser"])?.HasAtleastRole(Role.Admin) == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Users") == true && ViewContext.RouteData.Values["action"]?.Equals("AdminPanel") == true ? "active" : "")" asp-controller="Users" asp-action="AdminPanel">Admin Panel</a>
                                </li>
                            }
                            @if (ViewData["LoggedUser"]?.Equals(ViewData["ActingUser"]) == true)
                            {
                                <li class="nav-item">
                                    <span class="nav-link">Přihlášený uživatel: @ViewData["LoggedUser"]</span>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="nav-link">
                                        Jednáte za uživatele: @ViewData["ActingUser"]
                                        (<a class="nav-link" asp-controller="Users" asp-action="StopActingBehalf">Zrušit</a>)
                                    </span>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout">Odhlásit se</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Users") == true && ViewContext.RouteData.Values["action"]?.Equals("Login") == true ? "active" : "")" asp-controller="Users" asp-action="Login">Přihlásit se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.Equals("Users") == true && ViewContext.RouteData.Values["action"]?.Equals("Register") == true ? "active" : "")" asp-controller="Users" asp-action="Register">Zaregistrovat se</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container" role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <p>© 2024 Hrubeš & Šimek</p>
    </footer>
</body>
</html>