@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Vozidlo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vozidlo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RokVyroby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RokVyroby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NajeteKilometry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NajeteKilometry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kapacita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kapacita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKlimatizaci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKlimatizaci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGaraz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGaraz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdVozidlo)">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
