@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Vozidlo>
@{
    ViewData["Title"] = "Seznam vozidel";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto p-3">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.RokVyroby)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.NajeteKilometry)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.Kapacita)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.MaKlimatizaci)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.NazevGaraze)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.NazevVozidla)
                </th>
                <th class="p-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.RokVyroby)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.NajeteKilometry)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.Kapacita)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.MaKlimatizaci)
                    </td>
                    <td class="p-2">
                        <a asp-controller="Garages" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdGaraz)">@Html.DisplayFor(modelItem => item.NazevGaraze)</a>
                    </td>
                    <td class="p-2">
                        <a asp-controller="Models" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdModel)">@Html.DisplayFor(modelItem => item.NazevVozidla)</a>
                    </td>
                    @await Html.PartialAsync("IndexActionButtons", item.IdVozidlo)
                </tr>
            }
        </tbody>
    </table>
</div>