@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Vozidlo>
@{
    ViewData["Title"] = "Seznam vozidel";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto p-3 text-center">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPZ)</th>
                <th>@Html.DisplayNameFor(model => model.RokVyroby)</th>
                <th>@Html.DisplayNameFor(model => model.NajeteKilometry)</th>
                <th>@Html.DisplayNameFor(model => model.Kapacita)</th>
                <th>@Html.DisplayNameFor(model => model.MaKlimatizaci)</th>
                <th>@Html.DisplayNameFor(model => model.NazevGaraze)</th>
                <th>@Html.DisplayNameFor(model => model.NazevModelu)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SPZ)</td>
                    <td>@Html.DisplayFor(modelItem => item.RokVyroby)</td>
                    <td>@Html.DisplayFor(modelItem => item.NajeteKilometry)</td>
                    <td>@Html.DisplayFor(modelItem => item.Kapacita)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaKlimatizaci)</td>
                    <td>
                        <a asp-controller="Garages" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdGaraz)">@Html.DisplayFor(modelItem => item.NazevGaraze)</a>
                    </td>
                    <td>
                        <a asp-controller="Models" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdModel)">@Html.DisplayFor(modelItem => item.NazevModelu)</a>
                    </td>
                    @await Html.PartialAsync("IndexActionButtons", item.IdVozidlo)
                </tr>
            }
        </tbody>
    </table>
</div>