@model BCSH2BDAS2.Models.Spoj
@{
    ViewData["Title"] = "Vytvořit/Upravit spoj";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row mb-3">
    <div class="col-md-4 w-100">
        <form asp-action="CreateEditSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSpoj" />

            @* TODO Join table *@
            <div class="form-group mb-3">
                <label asp-for="IdLinka" class="control-label"></label>
                <input asp-for="IdLinka" class="form-control" />
                <span asp-validation-for="IdLinka" class="text-danger"></span>
            </div>

            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JedeVSobotu" /> @Html.DisplayNameFor(model => model.JedeVSobotu)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JedeVNedeli" /> @Html.DisplayNameFor(model => model.JedeVNedeli)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JedeVeVsedniDen" /> @Html.DisplayNameFor(model => model.JedeVeVsedniDen)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GarantovaneNizkopodlazni" /> @Html.DisplayNameFor(model => model.GarantovaneNizkopodlazni)
                </label>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>

