@model BCSH2BDAS2.Models.Spoj
@{
    ViewData["Title"] = "Vytvořit/Upravit spoj";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="CreateEditSubmit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdSpoj" />

                <div class="form-group mb-3">
                    <label asp-for="IdLinka" class="control-label"></label>
                    <input asp-for="IdLinka" class="form-control" />
                    <span asp-validation-for="IdLinka" class="text-danger"></span>
                </div>

                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="JedeVSobotu" /> @Html.DisplayNameFor(model => model.JedeVSobotu)
                    </label>
                </div>

                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="JedeVNedeli" /> @Html.DisplayNameFor(model => model.JedeVNedeli)
                    </label>
                </div>

                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="JedeVeVsedniDen" /> @Html.DisplayNameFor(model => model.JedeVeVsedniDen)
                    </label>
                </div>

                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="GarantovaneNizkopodlazni" /> @Html.DisplayNameFor(model => model.GarantovaneNizkopodlazni)
                    </label>
                </div>

                <div class="form-group row m-1">
                    <input type="submit" value="Uložit změny" class="btn btn-primary col" />
                    <div class="col w-100"></div>
                    <a asp-action="Index" class="btn btn-secondary col align-content-end" style="margin-left:1rem">Zpět na seznam</a>
                </div>
            </form>
        </div>
    </div>
</div>