@model BCSH2BDAS2.Models.Spoj

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3>Opravdu chcete tuto položku odstranit?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinka) @* TODO Join table *@
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.JedeVSobotu)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.JedeVNedeli)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.JedeVeVsedniDen)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.GarantovanaNizkopodlazni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLinka) @* TODO Join table *@
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JedeVSobotu)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JedeVNedeli)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JedeVeVsedniDen)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GarantovanaNizkopodlazni)
        </dd>
    </dl>

    <form asp-action="DeleteSubmit">
        <input type="hidden" asp-for="IdSpoj" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na seznam</a>
    </form>
</div>
