@using BCSH2BDAS2.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BCSH2BDAS2.Models.ZaznamTrasy
@{
    ViewData["Title"] = "Odstranit";
}

<h3>Opravdu chcete tuto položku odstranit?</h3>

<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.IdJizniRad)
                </dt>
                <dd class="col-auto p-1">
                    <a asp-controller="Timetables" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdJizniRad)">Jízdní řád</a>
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.NazevVozidla)
                </dt>
                <dd class="col-auto p-1">
	                <a asp-controller="Vehicles" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdVozidlo)">
		                @Html.DisplayFor(model => model.NazevVozidla)
	                </a>
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.CasPrijezdu)
                </dt>
                <dd class="col-auto p-1">
                    @Html.DisplayFor(model => model.CasPrijezdu)
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.CasOdjezdu)
                </dt>
                <dd class="col-auto p-1">
                    @Html.DisplayFor(model => model.CasOdjezdu)
                </dd>
            </dl>

            <form asp-action="DeleteSubmit" class="row m-1">
                <input type="hidden" asp-for="IdZaznam" />
                <input type="submit" value="Odstranit" class="btn btn-danger col-auto" />
                <div class="col w-100"></div>
                <a asp-action="Index" class="btn btn-secondary col align-content-end">Zpět na seznam</a>
            </form>
        </div>
    </div>
</div>
