@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.ZaznamTrasy
@{
    ViewData["Title"] = "Detail záznamu trasy";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.IdJizniRad)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.IdJizniRad)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.IdVozidlo)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.IdVozidlo)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.CasPrijezdu)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.CasPrijezdu)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.CasOdjezdu)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.CasOdjezdu)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdZaznam)