@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.ZaznamTrasy>
@{
    ViewData["Title"] = "Seznam záznamů tras";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto p-3 text-center">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IdJizniRad)</th>
                <th>@Html.DisplayNameFor(model => model.NazevVozidla)</th>
                <th>@Html.DisplayNameFor(model => model.CasPrijezdu)</th>
                <th>@Html.DisplayNameFor(model => model.CasOdjezdu)</th>
                @if (Model.Any(item => item.UdrzbaInvalid == true))
                {
                    <th></th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Timetables" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdJizniRad)">@Html.DisplayNameFor(model => model.IdJizniRad)</a>
                    </td>
                    <td>
                        <a asp-controller="Vehicles" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdVozidlo)">@Html.DisplayFor(_ => item.NazevVozidla)</a>
                    </td>
                    <td>@item.CasPrijezdu.ToShortTimeString()</td>
                    <td>@item.CasOdjezdu.ToShortTimeString()</td>

                    @if (Model.Select(item => item.UdrzbaInvalid).Any(item => item == true))
                    {
                        <td>
                            @if (item.UdrzbaInvalid)
                            {
                                <span class="badge bg-danger text-dark">Vozidlo neprošlo údržbou</span>
                            }
                        </td>
                    }
                    @await Html.PartialAsync("IndexActionButtons", item.IdZaznam)
                </tr>
            }
        </tbody>
    </table>
</div>
