@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Role

@{
    ViewData["Title"] = "Detail role";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prava)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prava)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="CreateEdit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdRole)" class="btn btn-primary mb-3">Upravit</a>
    <p><a asp-action="Index">Zpět na seznam</a></p>
</div>