@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Zastavka
@{
    ViewData["Title"] = "Detail zastávky";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.SouradniceX)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.SouradniceX)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.SouradniceY)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.SouradniceY)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.NazevPasma)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.NazevPasma)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdZastavka)