@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Zastavka>
@{
    ViewData["Title"] = "Seznam zastávek";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nazev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SouradniceX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SouradniceY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasmoNazev)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SouradniceX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SouradniceY)
                    </td>
                    <td>
                        <a asp-controller="Tariff" asp-action="CreateEdit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdPasmo)">@Html.DisplayFor(modelItem => item.PasmoNazev)</a>
                    </td>

                    @await Html.PartialAsync("IndexActionButtons", item.IdZastavka)
                </tr>
            }
        </tbody>
    </table>
</div>