@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Zastavka>

@{
    ViewData["Title"] = "Seznam";
}

<div class="d-flex justify-content-between mb-3">
    <h2>Seznam všech zastávek</h2>
    <a asp-action="Create" class="btn btn-primary">Vytvořit novou</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouradniceX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouradniceY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasmoNazev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouradniceX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouradniceY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasmoNazev)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdZastavka)" class="btn btn-secondary">Upravit</a>
                    <a asp-action="Details" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdZastavka)" class="btn btn-secondary">Detail</a>
                    <a asp-action="Delete" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdZastavka)" class="btn btn-secondary">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
