<script src="~/js/stops/index.js"></script>

<h1>Stops Index</h1>

<p>
    <a href="Stops/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazev</th>
            <th>SouradniceX</th>
            <th>SouradniceY</th>
            <th>IdPasmo</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @* @foreach (var item in Model) {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Nazev)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.SouradniceX)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.SouradniceY)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.IdPasmo)
        </td>
        <td>
        <a asp-href="Edit" asp-route-id="@item.IdZastavka">Edit</a> |
        <a asp-href="Details" asp-route-id="@item.IdZastavka">Details</a> |
        <a asp-href="Delete" asp-route-id="@item.IdZastavka">Delete</a>
        </td>
        </tr>
        } *@
    </tbody>
</table>
