@model BCSH2BDAS2.Models.Schema
@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3>Opravdu chcete tuto položku odstranit?</h3>
<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.NazevSchematu)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.NazevSchematu)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.NazevSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.NazevSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.VelikostSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.VelikostSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.TypSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.TypSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.DatumZmeny)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.DatumZmeny)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Soubor)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.Soubor)
        </dd>
    </dl>

    <form asp-action="DeleteSubmit" class="mb-3">
        <input type="hidden" asp-for="IdSchema" />
        <input type="submit" value="Odstranit" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Zpět na seznam</a>

</div>
