@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Schema
@{
    ViewData["Title"] = "Detail schématu";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.NazevSchematu)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.NazevSchematu)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.NazevSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.NazevSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.VelikostSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.VelikostSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.TypSouboru)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.TypSouboru)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.DatumZmeny)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.DatumZmeny)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Soubor)
        </dt>
        <dd class="col-auto p-1">
            @if (Model.TypSouboru!.Contains("image"))
            {
                <img src="Schemes/Download?encryptedId=@OurCryptography.Instance.EncryptId(Model.IdSchema)" class="img-fluid" />
            }
            else
            {
                <a asp-action="Download" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdSchema)" class="btn btn-secondary" download="1">Stáhnout</a>
            }
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdSchema)