@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Schema
@{
    ViewData["Title"] = "Detail schématu";
}

<h1>@ViewData["Title"]</h1>

<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.NazevSchematu)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.NazevSchematu)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.NazevSouboru)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.NazevSouboru)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.VelikostSouboru)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.VelikostSouboru)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.TypSouboru)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.TypSouboru)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.DatumZmeny)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.DatumZmeny)</dd>
            </dl>
            
            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.UzivatelskeJmeno)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.UzivatelskeJmeno)</dd>
            </dl>
            
            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.JmenoPracovnika)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.JmenoPracovnika)</dd>
            </dl>

            <dl class="row row-cols-2 m-1">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.Soubor)</dt>
                @if (Model.TypSouboru!.Contains("image"))
                {
	                <dd class="col-auto p-1">
		                <img src="/Schemes/Download?encryptedId=@Html.UrlEncoder.Encode(OurCryptography.Instance.EncryptId(Model.IdSchema))" class="img-fluid"/>
	                </dd>
                }
                else
                {
                    <dd class="col-auto p-1">
                        <a asp-action="Download" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdSchema)" class="btn btn-secondary" download="1">Stáhnout</a>
                    </dd>
                }
            </dl>
            @await Html.PartialAsync("DetailActionButtons", Model.IdSchema)
        </div>
    </div>
</div>