@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model IEnumerable<BCSH2BDAS2.Models.Schema>
@{
    ViewData["Title"] = "Seznam schémat";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewData["Title"]</h2>
    @if (((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasManagerRights() == true || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasDispatchRights() == true)
    {
        <a asp-action="CreateEdit" class="btn btn-primary">Vytvořit</a>
    }
</div>

<div class="container mt-4">
    <ul class="nav nav-tabs">
        @{
            for (int i = 0; i < Model.Count(); i++)
            {
                var activeClass = i == 0 ? "nav-link active" : "nav-link";
                <li class="nav-item">
                    <a class="@activeClass" data-bs-toggle="tab" href="@("#tab" + i.ToString())">@Model.ElementAt(i).NazevSchematu</a>
                </li>
            }
            @if (((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasManagerRights() == true || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasDispatchRights() == true)
            {
                var activeClass = Model.Count() == 0 ? "nav-link active" : "nav-link";
                <li class="nav-item">
                    <a class="@activeClass" data-bs-toggle="tab" href="#tabTable">Tabulka</a>
                </li>
            }
        }
    </ul>

    <div class="tab-content">
        @{
            @for (int i = 0; i < Model.Count(); i++)
            {
                var schema = Model.ElementAt(i);
                if (schema.Soubor == null)
                    continue;
                var activeClass = i == 0 ? "tab-pane fade show active" : "tab-pane fade";
                <div id="@("tab" + i.ToString())" class="@activeClass">
                    @if (schema.TypSouboru!.Contains("image"))
                    {
                        <img src="Schemes/Download?encryptedId=@Html.UrlEncoder.Encode(OurCryptography.Instance.EncryptId(schema.IdSchema))" class="img-fluid" />
                    }
                    <p><a asp-action="Download" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(schema.IdSchema)" class="btn btn-secondary" download="1">Stáhnout</a></p>
                    <p><i>Poslední změna @schema.DatumZmeny</i></p>
                </div>
            }
        }

        @if (((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasManagerRights() == true || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasDispatchRights() == true)
        {
            var activeClass = Model.Count() == 0 ? "tab-pane fade show active" : "tab-pane fade";
            <div id="tabTable" class="@activeClass">
                <div class="table-responsive overflow-auto p-3 text-center">
                    <table class="table text-nowrap w-auto m-auto">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.NazevSchematu)</th>
                                <th>@Html.DisplayNameFor(model => model.NazevSouboru)</th>
                                <th>@Html.DisplayNameFor(model => model.TypSouboru)</th>
                                <th>@Html.DisplayNameFor(model => model.VelikostSouboru)</th>
                                <th>@Html.DisplayNameFor(model => model.DatumZmeny)</th>
                                <th>Stáhnout</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(_ => item.NazevSchematu)</td>
                                    <td>@Html.DisplayFor(_ => item.NazevSouboru)</td>
                                    <td>@Html.DisplayFor(_ => item.TypSouboru)</td>
                                    <td>@Html.DisplayFor(_ => item.VelikostSouboru)</td>
                                    <td>@Html.DisplayFor(_ => item.DatumZmeny)</td>
                                    <td>
                                        <a asp-action="Download" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdSchema)" class="btn btn-secondary" download="1">Stáhnout</a>
                                    </td>
                                    @await Html.PartialAsync("IndexActionButtons", item.IdSchema)
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>