@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Schema>
@{
    ViewData["Title"] = "Seznam schémat";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NazevSchematu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VelikostSouboru)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soubor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.NazevSchematu)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.VelikostSouboru)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Soubor)
                    </td>

                    @await Html.PartialAsync("IndexActionButtons", item.IdSchema)
                </tr>
            }
        </tbody>
    </table>
</div>