@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Linka>
@{
    ViewData["Title"] = "Jízdní řády";
}

<h1>@ViewData["Title"]</h1>
@if (Model.Count() > 1)
{
    <div class="mb-3">
        <h2>Trolejbusové linky</h2>
        @if (!Model.Where(item => item.IdTypVozidla == 1).Any())
        {
            <p>Žádné linky tohoto typu neexistují</p>
        }
        else
            @foreach (var linka in Model.Where(l => l.IdTypVozidla == 1))
            {
                <a asp-action="Timetable" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(linka.IdLinka)" class="btn btn-secondary">Linka @linka.Cislo</a>
            }
    </div>

    <div class="mb-3">

        <h2>Autobusové linky</h2>
        @if (!Model.Where(item => item.IdTypVozidla == 2).Any())
        {
            <p>Žádné linky tohoto typu neexistují</p>
        }
        else
            @foreach (var linka in Model.Where(l => l.IdTypVozidla == 2))
            {
                <a asp-action="Timetable" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(linka.IdLinka)" class="btn btn-secondary">Linka @linka.Cislo</a>
            }
    </div>

    <div class="mb-3">
        <h2>Minibusové linky</h2>
        @if (!Model.Where(item => item.IdTypVozidla == 3).Any())
        {
            <p>Žádné linky tohoto typu neexistují</p>
        }
        else
            @foreach (var linka in Model.Where(l => l.IdTypVozidla == 3))
            {
                <a asp-action="Timetable" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(linka.IdLinka)" class="btn btn-secondary">Linka @linka.Cislo</a>
            }
    </div>
}
else
{
    // TODO
}