@{
    ViewData["Title"] = "Export do formátu CSV";
}

<div class="d-flex justify-content-between">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="ExportCsv" method="get">
    <div class="form-group mb-3">
        <label for="nazev" class="control-label">Tabulka nebo pohled</label>
        @Html.DropDownList("nazev", (SelectList)ViewBag.Tabulky, new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        <label for="oddelovac" class="control-label">Oddělovač hodnot</label>
        <input type="text" name="oddelovac" id="oddelovac" class="form-control" value=";" />
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Exportovat" class="btn btn-primary" />
    </div>
</form>

@if (ViewBag.Csv != null)
{
    <h3>
        Náhled exportu 
        <a asp-action="ExportCsvDownload" asp-route-nazev="@ViewBag.Nazev" asp-route-oddelovac="@ViewBag.Oddelovac" class="btn btn-secondary">Stáhnout</a>
    </h3>
    <pre>@ViewBag.Csv.ToString()</pre>
}