@using BCSH2BDAS2.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BCSH2BDAS2.Models.JizdniRad
@{
    ViewData["Title"] = "Odstranit";
}

<h3>Opravdu chcete tuto položku odstranit?</h3>

<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row m-0">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.NazevZastavky)</dt>
                <dd class="col-auto p-1">@Html.DisplayFor(model => model.NazevZastavky)</dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.IdSpoj)</dt>
                <dd class="col-auto p-1">
                    <a asp-controller="Connections" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdSpoj)">Spoj</a>
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.CasPrijezdu)</dt>
                <dd class="col-auto p-1">@Model.CasPrijezdu?.ToString("t")</dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">@Html.DisplayNameFor(model => model.CasOdjezdu)</dt>
                <dd class="col-auto p-1">@Model.CasOdjezdu.ToString("t")</dd>
            </dl>

            <form asp-action="DeleteSubmit" class="row m-1">
                @Html.HiddenFor(model => model.IdJizdniRad)
                <input type="submit" value="Odstranit" class="btn btn-danger col-auto" />
                <div class="col w-100"></div>
                <a asp-action="Index" class="btn btn-secondary col align-content-end">Zpět na seznam</a>
            </form>
        </div>
    </div>
</div>