@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model IEnumerable<BCSH2BDAS2.Models.Uzivatel>
@{
    ViewData["Title"] = "Seznam uživatelů";
}

@* TODO: Změna role *@

<h2>@ViewData["Title"]</h2>
<div class="table-responsive overflow-auto p-3">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UzivatelskeJmeno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NazevRole)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uzivatel in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => uzivatel.UzivatelskeJmeno)
                    </td>
                    <td>
                        <a asp-controller="Roles" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdRole)">@Html.DisplayFor(modelItem => uzivatel.NazevRole)</a>
                    </td>
                    <td class="d-flex">
                        <a asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdUzivatel)" class="btn btn-secondary">Detail</a>
                        <a asp-action="Delete" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdUzivatel)" class="btn btn-danger">Odstranit</a>
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAdminRights() == true)
                        {
                            <a asp-action="ActBehalf" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdUzivatel)" class="btn btn-secondary">Přepnout na</a>
                        }
                    </td>
                </tr>
                @Html.HiddenFor(modelItem => uzivatel.IdUzivatel)
                @Html.HiddenFor(modelItem => uzivatel.Heslo)
            }
        </tbody>
    </table>
</div>