@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model (IEnumerable<BCSH2BDAS2.Models.Uzivatel> uzivatele,IEnumerable<BCSH2BDAS2.Models.Role> role)
@{
    ViewData["Title"] = "Seznam uživatelů";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.uzivatele.First().Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uzivatele.First().Role.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uzivatele.First().HodinovaMzda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uzivatele.First().IdNadrizeny)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uzivatel in Model.uzivatele)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => uzivatel.Jmeno)
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => uzivatel.IdRole,
                             new SelectList(Model.role.Where(role => role.Prava > 0).Select(role => new
                             {
                                 Value = role.IdRole,
                                 Text = role.ToString()
                             }), "Value", "Text", uzivatel.IdRole),
                             new { @class = "form-control", @onchange = $"submitRoleChange(this, {uzivatel.IdUzivatel},'{uzivatel.Jmeno}','{uzivatel.Heslo}')" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => uzivatel.HodinovaMzda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => uzivatel.IdNadrizeny)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdUzivatel)" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a asp-action="ActBehalf" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(uzivatel.IdUzivatel)" class="btn btn-secondary">Přepnout na</a>
                </td>
            </tr>
            @Html.HiddenFor(modelItem => uzivatel.IdUzivatel)
            @Html.HiddenFor(modelItem => uzivatel.Heslo)
        }
    </tbody>
</table>

<script type="text/javascript">
        function submitRoleChange(dropdown, id, jmeno, heslo) {
        var selectedRoleId = dropdown.value;
        var uzivatel = {
            idUzivatel: id,
            idRole: selectedRoleId,
            jmeno: jmeno,
            heslo: heslo
        };

        $.ajax({
            type: "POST",
            url: "/Users/EditSubmit",
            contentType: "application/json",
            data: JSON.stringify(uzivatel),
            success: function(response) {
                alert("Role updated successfully!");
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
                alert("Error: " + xhr.responseText);
            }
        });
    }
</script>
