@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Udrzba
@{
    ViewData["Title"] = "Odstranit";
}

<h3>Opravdu chcete tuto položku odstranit?</h3>

<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.NazevVozidla)
                </dt>
                <dd class="col-auto p-1">
                    <a asp-controller="Vehicles" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(Model.IdVozidlo)">@Html.DisplayFor(_ => Model.NazevVozidla)</a>
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.Datum)
                </dt>
                <dd class="col-auto p-1">
                    @Html.DisplayFor(model => model.Datum)
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.KonecUdrzby)
                </dt>
                <dd class="col-auto p-1">
                    @Html.DisplayFor(model => model.KonecUdrzby)
                    @if (Model.KonecUdrzby != null && ((DateTime)Model.KonecUdrzby - Model.Datum).TotalHours > 72)
                    {
                        <span class="badge bg-warning text-dark">>72h</span>
                    }
                </dd>
            </dl>

            <dl class="row m-0">
                <dt class="col-auto p-1">
                    @Html.DisplayNameFor(model => model.TypUdrzby)
                </dt>
                <dd class="col-auto p-1">
                    @(Model.TypUdrzby switch
                    {
                        'c' => "Čištění",
                        'o' => "Oprava",
                        _ => "Nespecifikováno"
                    })
                </dd>
            </dl>

            @if (Model.TypUdrzby == 'c')
            {
                <dl class="row m-0">
                    <dt class="col-auto p-1">
                        @Html.DisplayNameFor(model => model.UmytoVMycce)
                    </dt>
                    <dd class="col-auto p-1">
                        @Html.DisplayFor(model => model.UmytoVMycce)
                    </dd>
                </dl>

                <dl class="row m-0">
                    <dt class="col-auto p-1">
                        @Html.DisplayNameFor(model => model.CistenoOzonem)
                    </dt>
                    <dd class="col-auto p-1">
                        @Html.DisplayFor(model => model.CistenoOzonem)
                    </dd>
                </dl>
            }
            else if (Model.TypUdrzby == 'o')
            {
                <dl class="row m-0">
                    <dt class="col-auto p-1">
                        @Html.DisplayNameFor(model => model.PopisUkonu)
                    </dt>
                    <dd class="col-auto p-1">
                        @Html.DisplayFor(model => model.PopisUkonu)
                    </dd>
                </dl>

                <dl class="row m-0">
                    <dt class="col-auto p-1">
                        @Html.DisplayNameFor(model => model.Cena)
                    </dt>
                    <dd class="col-auto p-1">
                        @Html.DisplayFor(model => model.Cena)
                    </dd>
                </dl>
            }

            <form asp-action="DeleteSubmit" class="row m-1">
                <input type="hidden" asp-for="IdUdrzba" />
                <input type="submit" value="Odstranit" class="btn btn-danger col-auto" />
                <div class="col w-100"></div>
                <a asp-action="Index" class="btn btn-secondary col align-content-end">Zpět na seznam</a>
            </form>
        </div>
    </div>
</div>