@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.Udrzba
@{
    ViewData["Title"] = "Detail údržby";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.IdVozidlo)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.IdVozidlo)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.KonecUdrzby)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.KonecUdrzby)
            <span class="badge bg-warning text-dark">>72h</span>
        </dd>
    </dl>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.TypUdrzby)
        </dt>
        <dd class="col-auto p-1">
            @(Model.TypUdrzby switch
            {
                'c' => "Čištění",
                'o' => "Oprava",
                _ => "Nespecifikováno"
            })
        </dd>
    </dl>
    @if (Model.TypUdrzby == 'c')
    {
        <dl class="row row-cols-2 m-1">
            <dt class="col-auto p-1">
                @Html.DisplayNameFor(model => model.UmytoVMycce)
            </dt>
            <dd class="col-auto p-1">
                @Html.DisplayFor(model => model.UmytoVMycce)
            </dd>
        </dl>
        <dl class="row row-cols-2 m-1">
            <dt class="col-auto p-1">
                @Html.DisplayNameFor(model => model.CistenoOzonem)
            </dt>
            <dd class="col-auto p-1">
                @Html.DisplayFor(model => model.CistenoOzonem)
            </dd>
        </dl>
    }
    else if (Model.TypUdrzby == 'o')
    {
        <dl class="row row-cols-2 m-1">
            <dt class="col-auto p-1">
                @Html.DisplayNameFor(model => model.PopisUkonu)
            </dt>
            <dd class="col-auto p-1">
                @Html.DisplayFor(model => model.PopisUkonu)
            </dd>
        </dl>
        <dl class="row row-cols-2 m-1">
            <dt class="col-auto p-1">
                @Html.DisplayNameFor(model => model.Cena)
            </dt>
            <dd class="col-auto p-1">
                @Html.DisplayFor(model => model.Cena)
            </dd>
        </dl>
    }
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdUdrzba)