@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Udrzba>

@{
    ViewData["Title"] = "Seznam";
}

<div class="d-flex justify-content-between mb-3">
    <h2>Seznam </h2>
    <a asp-action="Create" class="btn btn-primary">Vytvořit</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVozidlo) @* TODO Join table *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.IdVozidlo) @* TODO Join table *@
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Datum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdUdrzba)" class="btn btn-secondary">Upravit</a>
                    <a asp-action="Delete" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdUdrzba)" class="btn btn-secondary">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
