@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Log>
@{
    ViewData["Title"] = "Logy";
}

<div class="d-flex justify-content-between">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="table-responsive overflow-auto p-3">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypZmeny)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tabulka)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoveHodnoty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StareHodnoty)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.Cas)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.TypZmeny)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Tabulka)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.NoveHodnoty)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.StareHodnoty)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>