@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model BCSH2BDAS2.Models.Pracovnik
@{
    ViewData["Title"] = "Detail pracovníka";
}

<h1>@ViewData["Title"]</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UzivatelskeJmeno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UzivatelskeJmeno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownList("IdRole",
                     new SelectList(((List<Role>?)ViewData["Role"])?.AsEnumerable(), "IdRole", "Nazev", Model.IdRole),
                     new { @class = "form-control" })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonniCislo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonniCislo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdPracovnik)