@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model IEnumerable<BCSH2BDAS2.Models.Pracovnik>
@{
    ViewData["Title"] = "Seznam pracovníků";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewData["Title"]</h2>
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPayModal">Upravit plat</button>
        <a asp-action="CreateEdit" class="btn btn-primary">Vytvořit</a>
    </div>
</div>

<div class="table-responsive overflow-auto p-3 text-center">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Jmeno)</th>
                <th>@Html.DisplayNameFor(model => model.Prijmeni)</th>
                <th>@Html.DisplayNameFor(model => model.TelefonniCislo)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.RodneCislo)</th>
                <th>@Html.DisplayNameFor(model => model.HodinovaMzda)</th>
                <th>@Html.DisplayNameFor(model => model.JmenoNadrizeneho)</th>
                <th>@Html.DisplayNameFor(model => model.UzivatelskeJmeno)</th>
                @if (((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasAdminRights() == true)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => item.Jmeno)</td>
                    <td>@Html.DisplayFor(_ => item.Prijmeni)</td>

                    @if (!item.SkryteUdaje || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasAdminRights() == true)
                    {
                        <td>@Html.DisplayFor(_ => item.TelefonniCislo)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(_ => "Skryté")</td>
                    }

                    @if (!item.SkryteUdaje || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasAdminRights() == true)
                    {
                        <td>@Html.DisplayFor(_ => item.Email)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(_ => "Skryté")</td>
                    }

                    @if (!item.SkryteUdaje || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasAdminRights() == true)
                    {
                        <td>@Html.DisplayFor(_ => item.RodneCislo)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(_ => "Skryté")</td>
                    }

                    @if (!item.SkryteUdaje || ((Uzivatel?)ViewData[Resource.ACTING_USER])?.HasAdminRights() == true)
                    {
                        <td>@Html.DisplayFor(_ => item.HodinovaMzda)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(_ => "Skryté")</td>
                    }

                    @if (item.IdNadrizeny != null)
                    {
                        <td>
                            <a asp-controller="Users" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdNadrizeny)">@Html.DisplayFor(_ => item.JmenoNadrizeneho)</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>
                        <a asp-controller="Users" asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdUzivatel)">@Html.DisplayFor(_ => item.UzivatelskeJmeno)</a>
                    </td>
                    @await Html.PartialAsync("IndexActionButtons", item.IdPracovnik)
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="addPayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="AddPay" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Upravit plat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="multiplier" class="form-label">Násobič</label>
                        <input type="number" class="form-control" id="multiplier" name="multiplier" value="1.00" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="minPay" class="form-label">Minimum</label>
                        <input type="number" class="form-control" id="minPay" name="minPay" value="@Model.Min(item=>item.HodinovaMzda)" step="1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Proveď</button>
                </div>
            </form>
        </div>
    </div>
</div>