@using BCSH2BDAS2.Helpers
@using BCSH2BDAS2.Models
@model (IEnumerable<BCSH2BDAS2.Models.Pracovnik> pracovnici,IEnumerable<BCSH2BDAS2.Models.Role> role)
@{
    ViewData["Title"] = "Seznam pracovníků";
}


<div class="d-flex justify-content-between mb-3">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="Create" class="btn btn-primary">Vytvořit nového</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().UzivatelskeJmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().Nadrizeny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().HodinovaMzda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().Prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().TelefonniCislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracovnici.First().Email)
            </th>
            <th></th>
            @if (((IUser?)ViewData["ActingUser"])?.HasAdminRights() == true)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pracovnici)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UzivatelskeJmeno)
                </td>
                <td>

                    <a asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdNadrizeny)" class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Nadrizeny)</a>
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => item.IdRole,
                             new SelectList(Model.role.Where(role => role.Prava > 0).Select(role => new
                             {
                                 Value = role.IdRole,
                                 Text = role.ToString()
                             }), "Value", "Text", item.IdRole),
                             new { @class = "form-control", @onchange = $"submitRoleChange(this, {item.IdPracovnik},'{item.Jmeno}','{item.Heslo}')" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HodinovaMzda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jmeno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijmeni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonniCislo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdPracovnik)" class="btn btn-danger">Edit</a>
                    <a asp-action="Detail" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdPracovnik)" class="btn btn-secondary">Detail</a>
                    <a asp-action="Delete" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdPracovnik)" class="btn btn-danger">Delete</a>
                    @if (((IUser?)ViewData["ActingUser"])?.HasAdminRights() == true)
                    {
                        <a asp-action="ActBehalf" asp-route-encryptedId="@OurCryptography.Instance.EncryptId(item.IdPracovnik)" class="btn btn-secondary">Přepnout na</a>
                    }
                </td>
            </tr>
            @Html.HiddenFor(modelItem => item.IdPracovnik)
            @Html.HiddenFor(modelItem => item.Heslo)
        }
    </tbody>
</table>

<script type="text/javascript">
        function submitRoleChange(dropdown, id, jmeno, heslo) {
        var selectedRoleId = dropdown.value;
        var uzivatel = {
            idUzivatel: id,
            idRole: selectedRoleId,
            jmeno: jmeno,
            heslo: heslo
        };

        $.ajax({
            type: "POST",
            url: "/Users/EditSubmit",
            contentType: "application/json",
            data: JSON.stringify(uzivatel),
            success: function(response) {
                alert("Role updated successfully!");
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
                alert("Error: " + xhr.responseText);
            }
        });
    }
</script>
